 /* Diseño clase redes */
 .redes { 
    width:300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes .fab {
    margin: 0 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #000;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.redes .icono1:hover {
    background: #3b5998;
}

.redes .icono2:hover {
    background: #ff0000;
}

.redes .icono3:hover {
    background: #00acee;
}


/* Secciones */
#equipo {
    background: #08A4BD;
    padding: 40px 0 40px 0;
    text-align: center;
    margin-top: 20px;
}

#testimonios {
    background: #ecc5c5;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 20px;
}

.estiloTestimonios {
    color: black;
}

body{
    font-family: 'Bebas Neue',cursive !important;
    font-size: 20px;
    background-color: #ffffe0;
}

H1{
    margin: 30px 30px 30px 0px;
    font-size: 60px;
    font-weight: bold ;
    position: relative;
  }

/*.card{

    width: 30px;
    margin: 5px;
}*/
.margen{
    margin-bottom: 100px !important;
}

#cargando{
    display:none;
}